@import "tailwindcss";

:root {
  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-poppins);
}

@theme {
  --color-green: #19AE1A;
  --color-black: #010101;
  --color-white: #FAFAFA;
  --color-grey: #4D4D4D;

  --leading-160: 160%;
  --leading-100: 100%;
  --leading-120: 120%;

  --text-custom-lg: 48px;
}

.text-green {
  color: #19AE1A;
}

.swiper-wrapper {
  align-items: stretch !important;
}

.swiper-slide {
  height: auto !important;
  display: flex;
}


.prose span {
  font-weight: 600;
  color:green;
}

h2 span {
  color: green;  
}

.points span{
  color: black;
  font-weight: bold;
  font-size: medium;

}