@import "tailwindcss";

:root {
  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-poppins);
}

@theme {
  --color-green: #19AE1A;
    --color-black:#010101;
    --color-white:#FAFAFA;
    --color-grey:#4D4D4D;

    --leading-160:160%;
    --leading-100:100%;
    --leading-120:120%;
}